/*
 * Default process resource labels
 */

process {
    cpus   = { check_max( 1, 'cpus') }
    memory = { check_max( 4.GB, 'memory') }
    time   = { check_max( 4.h, 'time') }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2

    withLabel: process_low {
        cpus   = { check_max( 2, 'cpus') }
        memory = { check_max( 8.GB, 'memory') }
        time   = { check_max( 4.h, 'time') }
    }

    withLabel: process_medium {
        cpus   = { check_max( 8, 'cpus') }
        memory = { check_max( 32.GB, 'memory') }
        time   = { check_max( 12.h, 'time') }
    }

    withLabel: process_high {
        cpus   = { check_max( 16, 'cpus') }
        memory = { check_max( 64.GB, 'memory') }
        time   = { check_max( 48.h, 'time') }
    }

    withLabel: process_highmem {
        cpus   = { check_max( 32, 'cpus') }
        memory = { check_max( 200.GB, 'memory') }
        time   = { check_max( 72.h, 'time') }
    }

    withName: RUN_ORTHOFINDER {
        cpus   = { check_max( params.orthofinder_threads, 'cpus') }
        memory = { check_max( 120.GB, 'memory') }
        time   = { check_max( 72.h, 'time') }
    }

    withName: ANNOTATE_INTERPROSCAN {
        cpus   = { check_max( 16, 'cpus') }
        memory = { check_max( 64.GB, 'memory') }
        time   = { check_max( 96.h, 'time') }
    }

    withName: ANNOTATE_EGGNOG {
        cpus   = { check_max( 16, 'cpus') }
        memory = { check_max( 64.GB, 'memory') }
        time   = { check_max( 48.h, 'time') }
    }

    withName: RUN_BUSCO {
        cpus   = { check_max( 16, 'cpus') }
        memory = { check_max( 64.GB, 'memory') }
        time   = { check_max( 24.h, 'time') }
    }

    withName: IQTREE_ASR {
        cpus   = { check_max( 8, 'cpus') }
        memory = { check_max( 16.GB, 'memory') }
        time   = { check_max( 12.h, 'time') }
    }

    withName: HYPHY_SELECTION {
        cpus   = { check_max( 8, 'cpus') }
        memory = { check_max( 16.GB, 'memory') }
        time   = { check_max( 24.h, 'time') }
    }
}
