/*
 * Profile for a remote high-memory / high-CPU server.
 * Tune max_* and process resources to match your machine.
 */

params {
    max_cpus   = 64
    max_memory = '500.GB'
    max_time   = '240.h'
    orthofinder_threads = 32
}

process {
    executor = 'local'

    withName: RUN_ORTHOFINDER {
        cpus   = { check_max( params.orthofinder_threads, 'cpus') }
        memory = { check_max( 200.GB, 'memory') }
        time   = { check_max( 96.h, 'time') }
    }

    withName: ANNOTATE_INTERPROSCAN {
        cpus   = { check_max( 24, 'cpus') }
        memory = { check_max( 96.GB, 'memory') }
    }

    withName: ANNOTATE_EGGNOG {
        cpus   = { check_max( 24, 'cpus') }
        memory = { check_max( 96.GB, 'memory') }
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
